.ipynb_checkpoints
*/.ipynb_checkpoints/*
# IPython
profile_default/
ipython_config.py
/OOP/iframe_figures/

__pycache__/

/OOP/results/
/OOP/dust/cube/Data/lightecho-dust-main/
/OOP/dust/cube/Data/fcrao.ogs.lbv.noeb.patched.fits/
/OOP/dust/cube/Data/tgt-1-selected_Post_BCDs/

*.ipynb
#/OOP/OOP_plane_simple.ipynb


__pycache__/
/OOP_old
/OOP_old/iframe_figures/
/OOP_old/results/
/OOP_old/dust/cube/Data/lightecho-dust-main/
/OOP_old/dust/cube/Data/fcrao.ogs.lbv.noeb.patched.fits/
/OOP_old/dust/cube/Data/tgt-1-selected_Post_BCDs/